{% extends 'layout.twig' %}

{% block body %}
    <div id="block">
    <form id="createAccount">
        <div class="field">
            <label for="nom"> nom : </label>
            <input type="text" name="nom" id="nom" required>
            <label for="prenom"> prenom : </label>
            <input type="text" name="prenom" id="prenom" required>
            <label for="email"> email : </label>
            <input type="email" name="email" id="email" required>
            <label for="birth"> birth : </label>
            <input type="text" name="birth" id="birth" required>
            <label for="password"> password : </label>
            <input type="password" name="password" id="password" required>
        </div>
        <button type="submit">
        <i class="icon edit">
        <p> Create </p>
        </button>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/jquery-cookie-master/src/jquery.cookie.js"></script>
    <script src="/javascripts/app_ajax.js"></script>
    
  {% endblock %}