{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Le sport le plus proche de chez toi</p>

  <section class="slidershow">
    <div id="content">
      <div id="content-carroussel">
        <figure class="shadow"> <img src="images/soccer.png" alt=""> </figure>
        <figure class="shadow"> <img src="images/skateboard.png" alt=""> </figure>
        <figure class="shadow"> <img src="images/hiking.png" alt=""> </figure>
        <figure class="shadow"> <img src="images/bicycle.png" alt=""> </figure>
        <figure class="shadow"> <img src="images/weightlifter.png" alt=""> </figure>
        <figure class="shadow">
          <figcaption> Démineur </figcaption> 
          <a target="_blank" href="../Jeux/Demineur_M&M/index.html">
            <img src="images/basketball.png" alt=""> 
            <span> Cliquez pour accéder</span> 
          </a>
        </figure>
        <figure class="shadow">
          <figcaption> Pong </figcaption> 
          <a target="_blank" href="../Jeux/Pong/index.html"> 
            <img src="images/jogging.png" alt=""> 
            <span> Cliquez pour accéder</span> 
          </a>
        </figure>
        <figure class="shadow"> <img src="images/jogging.png" alt=""> </figure>
        <figure class="shadow"> <img src="images/jogging.png" alt=""> </figure>
      </div>
    </div>
  </section>
{% endblock %}
