{% extends 'layout.twig' %}

{% block body %}
    <div id="googleMap" class="googleMap"></div>
    <div id="block" >
            <form class="form-inline" action="" method="get" id="search">
                    <label class="sr-only" for="inlineFormInputName2">ville</label>
                    <input type="text" name="ville" id="ville" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Paris..">
              <ul id="listVille"></ul>
                  
                    <label class="mb-2 mr-sm-2 sr-only" for="inlineFormCustomSelect">sports</label>
                    <select class="custom-select mb-2 mr-sm-2" id="inlineFormCustomSelect" name="sports">
                      <option selected id="sports">Activités</option>
                      <option value="city"><p>City<i class="fas fa-futbol"></i><p></option>
                      <option value="foot">Foot</option>
                      <option value="workout">Workout</option>
                    </select>
                     
                  
                    <button type="submit" class="btn btn-primary mb-2 mr-sm-2">GO !</button>
                  </form>
        {# <form action="/map" method="get" class ="ui form">
            <div class="field">
                <label for="ville" value="ville"></label>
                <input type="text" name="ville" id="ville">
                <label for="sports" value="Activité"></label>
                <input type="text" name="sports" id="sports">
            </div>
            <button type="submit"><i class="icon edit"></i> GO !</button>
        </form> #}
        <div class="icone">
            <ul class="icone_list">
                    <li><a href="#"><i class="fas fa-futbol"></i></a></li>
                    <li><a href="#"><i class="fas fa-running"></i></a></li>
                    <li><a href="#"><i class="fas fa-bicycle"></i></a></li>
                    <li><a href="#"><i class="fas fa-table-tennis"></i></a></li>
            </ul>
        <div id="login">
                <ul class="icone_list">
                        <li><a href="#">Connexion</a></li>
                        <li><a href="#">Inscription</a></li>
                </ul>
        </div>
         <div id="avis">
         1- On affichera la l'ensemble des résultats des recherche
         2- On mettra les avis et notes 
         3- etc       
        
        </div>

    </div>

    <script type="text/javascript" src="/javascript/app.js"></script>
    <style> 
    body {
        margin: 0;
        padding: 0;
    }
    form {
        display: flex;
        align-content: center;
        justify-content: center;
    }
    #block{
       
        background-color: rgba(255,255,255,0.8);
        padding: 50px;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left:0;
        display: flex;
        height: 100vh;
        flex-direction: column;
        width: 50vw;
width:250px;
    }
    button{
        width:10vw;
        height: 5vh;
    }
    .field{
        padding: 2vh;
        display: flex;
        justify-content: center;
        background-color: grey;
    }
    .googleMap {
        display: flex;
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;

      }
    
    .login{
        display: flex;
        justify-content: center;
    }

    .icone_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
    }
    .icone_list li a{
        list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
}
    i {
        font-size: 35px;
        color: black; 
    }
    </style>
  {% endblock %}
