{% extends 'layout.twig' %}

{% block body %}
    <div id="googleMap" class="googleMap"></div>

    <button id="users" type="submit" class="btn btn-primary mb-2 mr-sm-2">Connexion</button>
    <button id="user_connected" type="submit" class="btn btn-success mb-2 mr-sm-2" ></button>


    <div id="block">
        <form class="form-inline" action="" method="get" id="search">
            <label class="sr-only" for="inlineFormInputName2">ville</label>
            <input type="text" name="ville" id="ville" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Paris..">
            <ul id="listVille"></ul>            
            <label class="mb-2 mr-sm-2 sr-only" for="inlineFormCustomSelect">sports</label>
            <select class="custom-select mb-2 mr-sm-2" id="inlineFormCustomSelect" name="sports">
                <option selected id="sports">Activités</option>
                <option value="city"><p>City<i class="fas fa-futbol"></i><p></option>
                <option value="foot">Foot</option>
                <option value="workout">Workout</option>
            </select>                
            <button id="recherche" type="submit" class="btn btn-primary mb-2 mr-sm-2">GO !</button>
        </form>
        {# <form action="/map" method="get" class ="ui form">
            <div class="field">
                <label for="ville" value="ville"></label>
                <input type="text" name="ville" id="ville">
                <label for="sports" value="Activité"></label>
                <input type="text" name="sports" id="sports">
            </div>
            <button type="submit"><i class="icon edit"></i> GO !</button>
        </form> #}
        <div class="icone">
            <ul class="icone_list">
                <li><a href="#"><i class="fas fa-futbol"></i></a></li>
                <li><a href="#"><i class="fas fa-running"></i></a></li>
                <li><a href="#"><i class="fas fa-bicycle"></i></a></li>
                <li><a href="#"><i class="fas fa-table-tennis"></i></a></li>
            </ul>
        </div>
        <div id="avis">
            1- On affichera la l'ensemble des résultats des recherche
            2- On mettra les avis et notes 
            3- etc
        </div>
    </div>
{# --------------------------------------------------PARTIE USERS----------------------------------------------- #}
{# -------------------------------------------TOUCHER PAS BANDE DE HAGOUNE-------------------------------------- #}

    <div id="connexion" class="container">
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">

                <div id="block_connexion" class="panel panel-default">
                    <i class="fas fa-times"></i>
                    <div class="panel-heading">
                        <h3 class="panel-title">Connexion</h3>
                    </div>
                    <div class="panel-body">
                        <form id="login_user" role="form">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="email" name="email" id="connexion-email" class="form-control input-sm" placeholder="Email Address" required>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="password" id="connexion-password" class="form-control input-sm" placeholder="Password" required>
                                    </div>
                                </div>                                    
                            </div>
                                
                            <input type="submit" value="Se connecter" class="btn btn-info btn-block">                
                        </form>
                        <div id="link_container">
                        <a id="lien_inscription" class="badge badge-primary" onclick="inscription()">Créer un compte</a>
                        </div>
                    </div>
                </div>

                
                <div id="block_inscription" class="panel panel-default">
                    <i class="fas fa-times"></i>
                    <div class="panel-heading">
                        <h3 class="panel-title">Inscription</h3>
                    </div>
                    <div class="panel-body">
                        <form id="createAccount" role="form">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="prenom" id="prenom" class="form-control input-sm" placeholder="Prenom" required>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="nom" id="nom" class="form-control input-sm" placeholder="Nom" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address" required>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="date" name="birth" id="birth" class="form-control input-sm" min="1920-01-01" max="2019-04-23" placeholder="birth" required>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password" required>
                                    </div>
                                </div>                                    
                            </div>

                            <input type="submit" value="S'inscrire" class="btn btn-info btn-block"> 
                        </form>
                    </div>
                </div>


                <div id="block_informations_user" class="panel panel-default">
                    <i class="fas fa-times"></i>
                    <div class="panel-heading">
                        <h3 class="panel-title">Mise à jour</h3>
                    </div>
                    <div class="panel-body">
                        <form id="update_user" role="form">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="prenom" id="update-prenom" class="form-control input-sm" placeholder="Prenom" required>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="nom" id="update-nom" class="form-control input-sm" placeholder="Nom" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="email" name="email" id="update-email" class="form-control input-sm" placeholder="Email Address" required>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="date" name="birth" id="update-birth" class="form-control input-sm" min="1920-01-01" max="2019-04-23" placeholder="birth" required>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="password" id="update-password" class="form-control input-sm" placeholder="Password" required>
                                    </div>
                                        <input type="hidden" name="id" id="user-id" value="" required>
                                </div>                                    
                            </div>

                            <input type="submit" value="Mettre à jour" class="btn btn-info btn-block">
                            <input id="delete_user" type="submit" value="Supprimer" class="btn btn-danger btn-block">
                            <button id="deconnexion" type="submit" class="btn btn-dark btn-block">Déconnexion !</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript" src="/javascript/app.js"></script>
    <script type="text/javascript" src="/javascript/app_ajax.js"></script>
    <style> 
    * {
        box-sizing: border-box;
    }
    body {
        margin: 0;
        padding: 0;
        max-width: 100vw;
        max-height: 100vh;
    }
    #search {
        display: flex;
        align-content: center;
        justify-content: center;
    }
    #block{       
        background-color: rgba(255,255,255,0.8);
        padding: 50px;
        border-radius: 10px;     
        position: absolute;
        top: 0;
        left:0;       
        display: flex;
        height: 100vh;
        flex-direction: column;
        width: 50vw;
        width: 250px;
    }
    #recherche{
        width:10vw;
        height: 5vh;
    }
    {# .field{
        padding: 2vh;
        display: flex;
        justify-content: center;
        background-color: grey;
    } #}
    .googleMap {
        display: flex;
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;

    }    
    .login{
        display: flex;
        justify-content: center;
    }
    .icone_list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        padding: 0px;
    }
    .icone_list li a{
        list-style-type: none;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0px;
    }
    i {
        font-size: 35px;
        color: black; 
    }

    {# ------------------------------------------------PartieUSER------------------------------------------------------ #}

    #users, #user_connected{
        position: absolute;
        right: 4vw;
        top: 1vh;
    }

    #connexion {
        position: absolute;
        right: 4vw;
        top: 10vh; 
        background-color: rgba(255,255,255,0.8);
        width: max-content;
        padding: 15px;
    }

    #connexion .panel-default {
        width: max-content;
    }
    #link_container{
        text-align: center;
        padding-top: 15px;
    }
    #lien_inscription {
        padding: 10px;
    }

    div i {
        float:right;
    }

    </style>
  {% endblock %}
