{% extends 'layout.twig' %}

{% block body %}
    <h1>{{title}}</h1>
    <div id="block">
    <form action="/map" method="get" class ="ui form">
        <div class="field">
            <label for="lieux" value="Lieux"></label>
            <input type="text" name="lieux" id="lieux">
            <label for="sports" value="Activité"></label>
            <input type="text" name="sports" id="sports">
        </div>
        <button type="submit">
        <i class="icon edit">
        <p>GO !</p>
        </button>
    </div>
    <style> 
    #block{
        display:flex;
        flex-direction: row;
        align-items: center;
    }
    button{
        width:10vw;
        height: 5vh;
    }
    .field{
        padding: 2vh;
        display: flex;
        justify-content: center;
        background-color: grey;
    }
    </style>
{% endblock %}
