{% extends 'layout.twig' %}

{% block body %}

<<<<<<< ecf95f7f81baec72ca848c4ebf49d6e0c9f4161a
    <form id="login_user" style="margin-left: 30%; margin-right: 30%; margin-top:10%">
  <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="/javascript/app_ajax.js"></script>
=======
    <div id="block">
    <form action="/users" method="post">
        <div class="field">
            <label for="email"> email : </label>
            <input type="text" name="email" id="email">
            <label for="password"> password : </label>
            <input type="text" name="password" id="password">
        </div>
        <button type="submit">
        <p> Connexion </p>
        </button>
    </div>
    <style> 
    #block{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    button{
        width:10vw;
        height: 5vh;
    }
    .field{
        padding: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: grey;
    }
    </style>
>>>>>>> Debut Login
  {% endblock %}