{% extends 'layout.twig' %}

{% block body %}

    <div id="block">
    <form id="update_user">
        <div class="field">
            <label for="nom"> new_nom : </label>
            <input type="text" name="nom" id="nom">
            <label for="prenom"> new_prenom : </label>
            <input type="text" name="prenom" id="prenom">
            <label for="email"> new_email : </label>
            <input type="email" name="email" id="email">
            <label for="birth"> new_birth : </label>
            <input type="text" name="birth" id="birth">
        </div>
        <button type="submit">
        <i class="icon edit">
        <p> Update </p>
        </button>
    </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascript/app_ajax.js"></script>
    <style> 
    #block{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    button{
        width:10vw;
        height: 5vh;
    }
    .field{
        padding: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: grey;
    }
    </style>
  {% endblock %}